.searchArea{
    border: 1px solid grey; 
    padding: 6px 0px 10px 6px;
    border-radius: 10px;
}
.searchInput{
    border: 0;
}
.searchInput:focus{
    outline: none;
}
.dataRow{
    height: 40px;
}


